<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.syr.smalltalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".service.model.logic.SmallTalkApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_smalltalk"
        android:roundIcon="@mipmap/ic_smalltalk_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <service
            android:name=".service.RootService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.file.FileSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".ui.webrtc.VideoChatActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
